apiVersion: v1
kind: Service
metadata:
  name: studentapp-frontend-service
spec:
  ports:
  - targetPort: 80
    port: 80
    protocol: TCP
    name: http
  selector:
    app: studentapp-frontend
  type: LoadBalancer